div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline;
}


#box1{
    background-color: rgba(124, 156, 153, 0.7);
}

#box2{
    background-color: rgba(67, 140, 132, 0.7);
}

#box3{
    background-color: rgba(0,160,144,0.7);
}